{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block main %}
{% createphp cmfMainContent as="rdf" %}
    <div {{ createphp_attributes(rdf) }}>
        <h1 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h1>
        <div {{ createphp_attributes( rdf.body ) }}>{{ createphp_content( rdf.body ) }}</div>
    </div>
{% endcreatephp %}
<div><ul>
        {% for child in cmfMainContent.getChildren %}
            <li><a href="/events/{{ cmfMainContent.name }}/{{ child.name }}">{{ child.title }}</li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
