{% extends 'EventsBundle::layout.html.twig' %}

{% block main %}
<p><a href="/events/{{ cmfMainContent.getParent.name }}">{{ cmfMainContent.getParent.title }}</a></p>
{% createphp cmfMainContent as="rdf" %}
    <div {{ createphp_attributes(rdf) }}>
        <h1 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h1>
        <div {{ createphp_attributes( rdf.body ) }}>{{ createphp_content( rdf.body ) }}</div>

    </div>
{% endcreatephp %}
    <div class="row">
            {% for child in cmfMainContent.getChildren %}
                <div class="col-md-4 panel">
                    <h4>Room :{{ child.title }}</h4>
                    <b>Begins at:</b> {{ child.startTime }}<br>
                    <b>Ends at:</b> {{ child.endTime }}<br>
                    <b>Total Places:</b> {{ child.totalPlaces }}<br>
                </div>
            {% endfor %}
    </div>
{% endblock %}
